//Setup
@import "setup/reset.scss";
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";
@import "setup/typography";

//Basic
@import "basics/helpers";
@import "basics/basics";

// Cmps
@import "cmps/_upload-img";
@import "cmps/thank-modal";
