.main-container {
    display: grid;
    grid-template-columns: $layoutPadding 1fr $layoutPadding;
    align-items: center;
    > * {
        grid-column: 2;
    }

    > *.full {
        grid-column: 1 / -1;
    }

    // @include for-narrow-layout {
    //     @include layoutGTC($break-narrow);
    // }

    // @include for-normal-layout {
    //     @include layoutGTC($break-normal);
    // }

    // @include for-wide-layout {
    //     @include layoutGTC($break-wide);
    // }
}

// Main Header Layout

.card-grid {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
    align-items: center;
    justify-items: center;
    // grid-auto-rows: 300px;

    > * {
        width: 100%;
        @include aspect-ratio(1, 1);
    }
}
